body {
  color: #002d5a;
}

ul {
  list-style-type: disc;
}

li {
  color: black;
  padding-top: 5px;
  margin-left: 40px;
}

footer {
  overflow: hidden;
  color: white;
}

input {
  border-radius: 4px !important;
  background-color: white !important;
  border: 1px solid gray !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.input-field {
}

.section1 {
}

.section2 {
  background-image: url('images/placeholder.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 2%;
  padding-bottom: 2%;
}

.largeIcon {
  font-size: calc(12px + 1.5em);
}

.globalTitle {
  font-size: calc(12px + 1em);
}

.globalHeader {
  font-size: calc(12px + 0.8em);
}

.globalSubHeader {
  font-size: calc(12px + 0.6em);
}

.globalBody {
  font-size: calc(12px + 0.3em);
}

.globalCaption {
  font-size: calc(12px + 0.1em);
}

.primaryColor {
  color: #ff5d55;
}

.secondaryColor {
  color: #929292;
}

.required {
  color: #ff0000;
}

.displayCard {
  width: 100%;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.primary {
  background-color: #033076 !important;
  opacity: 1 !important;
}

.primary-90 {
  background-color: #033076 !important;
  opacity: 0.9 !important;
}

.secondary {
  background-color: #e8e8e8;
}

.text-light {
  color: white;
}

.text-dark {
  color: black;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-end {
  justify-content: end !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.z-10 {
  z-index: 10 !important;
}

.p-0 {
  padding: 0px;
}

.m-0 {
  margin: 0px;
}

.ml-0 {
  margin: 0px !important;
}

.mt-2 {
  margin-top: 2% !important;
}

.mt-3 {
  margin-top: 3% !important;
}

.mt-4 {
  margin-top: 4% !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.mr-3 {
  margin-right: 3% !important;
}

.pt-50 {
  padding-top: 50px !important;
}

.pb-3 {
  padding-bottom: 3% !important;
}

.font-weight-bold {
  font-weight: 700;
}

/* JOB CARD SLIDER */

.jobCard {
  border: 1px solid gray;
}

.slider,
.jobSlider {
  margin: 0 auto;
  max-width: 100%;
}

.jobSlider {
  height: 450px;
}

.slide_viewer,
.job_slide_viewer {
  height: 90%;
  overflow: hidden;
  position: relative;
}

.slide_group,
.job_slide_group {
  height: 100%;
  position: relative;
  width: 100%;
}

.slide {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}

.slide:first-child,
.jobSlide:first-child {
  display: block;
}

.slide:nth-of-type(1) {
  background-image: url('images/placeholder.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.slide:nth-of-type(2) {
  background-image: url('images/placeholder.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.slide:nth-of-type(3) {
  background-image: url('images/placeholder.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.slide:nth-of-type(4) {
  background-image: url('images/placeholder.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.slide_buttons,
.job_slide_buttons {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  margin-top: -100px;
}

a.slide_btn {
  color: #474544;
  font-size: 42px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slide_btn.active,
.slide_btn:hover {
  color: #428cc6;
  cursor: pointer;
}

@media only screen and (max-width: 994px) {
  .d-flex {
    display: block !important;
  }

  .justify-content-around {
    justify-content: normal !important;
  }

  .justify-content-center {
    justify-content: normal !important;
  }

  .previous_btn {
    left: 50px;
  }
  .next_btn {
    right: 50px;
  }

  .slide {
    height: 70%;
  }

  .slide_buttons {
    margin-top: -150px;
  }
}
